html {
    font-size: 10px;
  }

  body {
    background: url("background.png");
    font-family: 'helvetica neue';
    font-weight: 200;
    font-size: 28px;
  }

  .words {
    max-width: 500px;
    margin: 80px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    padding: 1rem 2rem 1rem 2rem;
    position: relative;
    line-height: 5rem;
    outline: none;
    text-shadow: 2px 2px 5px rgb(185, 185, 185);
    color: black;
  }
  
